/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*.php
!/storage/framework/views/.gitkeep
/storage/logs/*.log
.env
.env.backup
.env.production
database/*.sqlite
/.idea
/.vscode
/vendor
test*.php
test*.html
test*.txt
storage/app/public
